body {
    padding:20px;
}

.favorited {
    color:coral;
}

#favorites-list-container {
    display:none;
}

#favorites-list a {
    display:block;
}

#books {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#books .book-result {
	font-size:12px;
	font-style:italic;
}

#books li span {
    margin:0px 15px 0px 15px;
}

